.env
.ruby-gemset
.ruby-version
.powrc
.idea
.env
.sass-cache/
*.DS_Store
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
/rake
/public/assets/**/*
/public/uploads/[^.]*
/config/config.yml
/config/database.yml
/public/restart.txt
/public/whole_csv
Procfile
.DS_Store
Thumbs.db
.DS_Store
Thumbs.db
