- content_for :sidebar do
  = link_to "Add new account", new_admin_account_path, :class => "btn"

%h1 Accounts

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th
  %tbody
    - collection.each do |resource|
      %tr
        %td= link_to resource.name, resource_path(resource)
        %td
          = link_to 'Edit', edit_resource_path(resource), :class => "btn"
          = link_to 'Delete', resource_path(resource), :method => :delete, :class => "btn btn-danger"

  - will_paginate collection
